*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header{
    background-color: #FF6900;
}
nav{
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: space-between;
}

.categories{
    max-width: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.categories a{
    text-decoration: none;
    color: white;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    max-width: 150px;
}

.icons{
    width: 150px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.icons img{
    max-width: 30px;
}
/* /header */

/* main */
/* section */
main{
    max-width: 1200px;
    margin: auto;
}

.section1{
    margin-top: 25px;

    display: flex;
    justify-content: center;
    gap: 15px;
}

.section1 img{
    max-width: 300px;
}

.section2{
    margin-top: 25px;

    display: flex;
    justify-content: center;
    gap: 15px;
}

.section2 img{
    max-width: 300px;
}

.price{
    color: red;

    margin-right: 10px;

    display: inline-block;
}

.photo span{
    text-decoration: line-through;
}


