*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
body{
    padding-top: 50px;
}

nav{
    background-color: #FF6900;
    width: 100%;

    position: fixed;
    top: 0;

    z-index: 2;
}

.container-nav{
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: space-between;

    
}

.categories{
    max-width: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.categories a{
    text-decoration: none;
    color: white;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    max-width: 150px;
}

.icons{
    width: 150px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.icons img{
    max-width: 30px;
}
/* /header */

/* main */
/* section */
main{
    max-width: 1200px;
    margin: auto;
}

.section1{
    margin-top: 30px;

    display: flex;
    justify-content: center;
    gap: 15px;
}

/* test */

.card{
    width: 300px;
    height: 450px;

    position: relative;
}

.foto{
    width: 100%;
    height: 100%;
}

.dopo{
    display: none;

    position: absolute;
    top: 0;
    left: 0;
}

.card:hover .dopo{
    display: inline-block;
}

.sconto{
    position: absolute;
    left: 0;
    bottom: 20px;

    font-size: 16px;
    background-color: red;
    color: white;
}

.caratteristica{
    position: absolute;
    left: 40px;
    bottom: 20px;

    font-size: 16px;
    background-color: green;
    color: white;
}

.caratteristica-6{
    position: absolute;
    left: 0;
    bottom: 20px;

    font-size: 16px;
    background-color: green;
    color: white;
}

/* cuore */
.container-heart{
    height: 36px;
    width: 36px;

    position: absolute;
    right: 0px;
    top: 5px;

    
}

.heart{
    
    padding: 5px;
    font-size: 22px;
    min-width: 30px;
    background-color: white;
    text-align: center;
}

.red{
    display: none;

    width: 100%;
    height: 100%;

    position: absolute;
    right: 0;
    top: 0;
}

.container-heart:hover .red{
    display: inline-block;
}
/* /cuore */

/* /test */

.section1 img{
    max-width: 310px;
}

.section2{
    margin-top: 25px;

    display: flex;
    justify-content: center;
    gap: 15px;
}

.section2 img{
    max-width: 300px;
}

.price{
    color: red;

    margin-right: 10px;

    display: inline-block;
}

.box span{
    text-decoration: line-through;
}
/* /main */
/* /section */

/* footer */
footer{
    height: 100px;
    margin-top: 30px;

    background-color: black;
}

.container-footer{
    max-width: 1200px;
    height: 100px;
    margin: auto;

    display: flex;
    justify-content: space-between;
}

.footer-left{
    max-width: 450px;
    padding-top: 30px;
}

.footer-left p{
    color: white;
}

.links{
    margin-top: 10px;
}

.links a{
    text-decoration: none;
    color: white;
    padding-right: 5px;
}

.footer-right{
    padding-top: 30px;
}

.footer-right p{
    color: white;
}

.footer-img img{
    max-width: 28px;
}
/* /footer */